</main>
<footer class="page-footer">
 <div class="footer-copyright">
   <div class="container">
     <p href="!#" class="hide-on-med-and-down center footer-title">POWERED BY SOFTWARE DEVELOPMENT CELL , USICT</p>
     <p href="!#" class="hide-on-large-only center footer-title">POWERED BY SOFTWARE DEVELOPMENT CELL,</p>
     <p href="!#" class="hide-on-large-only center footer-title">USICT</p>
   </div>
 </div>
 <div class="hide-on-large-only" style="height:40px"></div>
</footer>
</body>
</html>