</main>
<footer class="page-footer">
 <div class="footer-copyright">
   <div class="container">
     <p href="!#" class="center footer-title">POWERED BY SOFTWARE DEVELOPMENT CELL , USICT</p>
   </div>
 </div>
</footer>
</body>
</html>