<!DOCTYPE html>
<% include partials/header %>
<div class="container drop-down-school">
  <div class="row login-sel-cont">
    <!-- <div class="col-md-4 col-md-offset-4"> -->
    <form action = "users" method = "post">
      
      <label for="datepicker" >Date:</label>
      <input type="date" id="datepicker" class="datepicker" name="dateofattendance">
      <div class="input-field">
        <!-- <span style="margin-left:20px;">Teaching Hours: </span> -->
        <select name="teachinghours" id="number">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
        <label>Teaching Hours</label>
        
      </div>
      <div style="margin-left:20px;">
          Selected students: <span id="counter">0</span>
      </div>
      
      <table>
         <tr>
            <th>Enrollment Number</th><th>Attendance</th>
         </tr>

         <% for (var i = 0; i < data.length;i++) { %>
          <tr>
            <td><%= data[i].enroll_no %></td>
            <td  id="container">                        
              <input type="checkbox" name='<%= data[i].enroll_no %>' id='<%= data[i].enroll_no %>'/>
              <label for='<%= data[i].enroll_no %>'></label> 
            </td>
          </tr>    
         <% } %>
      </table>

      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
        
    </form>

<!-- </div> -->
</div>

</div><script type="text/javascript">
  
  $(document).ready(function() {
    $('select').material_select();
    var date = new Date();
    date.setDate(date.getDate());
    $('.datepicker').pickadate({
      min: date,
      format: 'dd/mm/yyyy',
      today: '',
      clear: '',
      closeOnSelect: true,
      closeOnClear: false,
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 3 // Creates a dropdown of 15 years to control year
    });
  });
    var inputs;
    inputs=document.getElementsByTagName('input')
    console.log(inputs);
    for (var i = 0; i < inputs.length; i++) {
      inputs[i].onclick=function(){
        countpresent();
      }
    }
    countpresent =function(){
      var count=0;
      for (var j = 0; j <= inputs.length; j++) {
        if (inputs[j].checked) { count = count+1;}
        document.getElementById('counter').innerHTML = count; 
      }
    }
</script>

<% include partials/footer %>