<!DOCTYPE html>
<% include partials/header %>

<div id="lecture-display" class="container">
<% if(lectures.length==0){ %>
  <h4>
    No Attendance marked for this subject
  </h4>
<% } else {%>
  <% for(var i=0; i<lectures.length ; ++i){ %>
    <div class="card">
      <h5><%=lectures[i].lecture_timestamp%><a href="<%=lectures[i].lecture_timestamp%>">Edit</a></h5>
    </div>
  <% } %>
<% } %>
</div>

<% include partials/footer %>