<!DOCTYPE html>
<% include partials/header %>
      <div class="container drop-down-school">

        <div class="row">
         <div class="page-theme">Choose an Authentication Mode</div>
         <div class="page-sub-theme">TO LOGIN USING APPROPRIATE PRIVILEGES</div>
        </div>

        <div class="row log-sel-cont">
          <center>

          <div class="col-md-4">
            <a href="/student/login" class="waves-effect waves-light btn-large login-select-item">Student</a>

          </div>
          <div class="col-md-4">
            <a href="/teacher/login" class="waves-effect waves-light btn-large login-select-item">Teacher</a>

          </div>
          <div class="col-md-4">
            <a class="waves-effect waves-light btn-large login-select-item">Dean</a>

          </div>
          
        </center>

        </div>


      </div>
    <% include partials/footer %>