<!DOCTYPE html>
<% include partials/header %>
<% include partials/user_card %>
<script type="text/javascript">
  $(document).ready(function () {
    $.getJSON('/student/get_attendance', function (data) {
      arr = {};
      data.forEach(function (elem) {
        if (! (elem.subject_code in arr)){
          arr[elem.subject_code] = {
            "P" : 0,
            "A" : 0,
            "NA" : 0,
            "subject_name": elem.subject_name,
            "subject_id": elem.subject_id,
          }
        }	
        arr[elem.subject_code][elem.attendance]=arr[elem.subject_code][elem.attendance]+ elem.duration_of_class;
      });
      console.log(arr);
      html = '';
      Object.keys(arr).forEach(function (elem) {
        html += '<tr>';
        html += '<td><a href=\"/student/attendance/'+ arr[elem]['subject_id'] + "\">" + elem + '</a></td>';
        html += '<td>' + arr[elem]['subject_name'] + '</td>';
        html += '<td class="hide-on-med-and-down">' + arr[elem]["P"] + '</td>';
        html += '<td class="hide-on-med-and-down">' + arr[elem]["A"] + '</td>';
        percentage = (arr[elem]["P"]*100/(arr[elem]["P"] + arr[elem]["A"])).toFixed(2);
        var borderclass;
        console.log(percentage);
        if(percentage >= 75.0) { borderclass="bgreen";}
        if(percentage < 75.0 && percentage >= 50.0) { borderclass="byellow";}
        if(percentage < 50.0) { borderclass="bred";}
        html += '<td class="' + borderclass + '">' + percentage + '</td>';
        html += '</tr>';
      });
      $('.attendance-table').html(html);
    })
  })
</script>
<div id="grad" class="container student-card card">
<div class="card-action attendance-report">ATTENDANCE REPORT</div>
    <br>
    <table class="striped centered">
      <thead>
        <tr>
          <th data-field="id">Subject Code</th>
          <th data-field="id">Subject Name</th>
          <th class="hide-on-med-and-down" data-field="name">Present</th>
          <th class="hide-on-med-and-down" data-field="price">Absent</th>
          <th data-field="price">Percentage</th>
        </tr>
      </thead>
      <tbody class="attendance-table">
      </tbody>
    </table>
    <p style="color: grey;">* click on subject code to view details</p>
  
</div>
</div>
<% include partials/footer %>
