<!DOCTYPE html>
<% include partials/header %>
<div class="container">
<% for(var i=0 ; i<attendance.length; ++i){ %>
  <%=attendance[i].lecture_timestamp%><br>
<% } %>
</div>



<% include partials/footer %>