<!DOCTYPE html>
<% include partials/header %>
<!-- Modal Structure -->
<div id="modal_instruction" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Upload student list.
 </h4>
 <strong><p>INSTRUCTIONS FOR UPLOAD:</p></strong>
    <p>Please make sure that the list is an excel (.xls or .xlsx) file in the following format:</p>
    <p>1. First column of excel file should contain the heading "Enrollment number".</p>
    <p>2. No other student details need to be supplied.</p>
    <p>Kindly verify that the enrollment numbers are valid. </p>
    <div class="center"><img src="/images/attendance_sample.png" width="60%" style="border: 2px solid #999;"></div>
  </div>
  <div class="modal-footer">
     <a class="submit submitbtn-bottom" id="upload_link" name="studentslist">
        UPLOAD EXCEL FILE.
      </a>
  </div>
</div>

<div id="modal_list" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Student list</h4>
    <p>Confirm the list of students before proceeding.</p>
  </div>
  <div class="modal-footer">
     <button class="btn waves-effect waves-light modal-action modal-close" id="acceptStudents" data-target="modal_list">Agree</button>
  </div>
</div>

<div class="container drop-down-school">
  <div class="row login-sel-cont">
    <div class="col-sm-offset-4 col-sm-4">
      <div class="card">
      <!-- <div class="row"> -->
        <div class="col-lg-12">
        </div>
       <!-- Card Content -->
        <div class="container-fluid custom-container">
          <div class="row custom-full-row">

            <div class="verticalLine">
              <div class="login-card-title">
                Add Subject
              </div>
            </div>
          </div>
        </div>

        <form class="login-box-form" action="/api/add_subject_to_teacher" method="post">
          <div class="container-fluid">
            <div class="row">
              <div class="input-field col s12">
                <select id="school" name="school" required>
                  <option value="" disabled selected>Choose School</option>
                  <option value="usict">USICT</option>
                </select>
                <label>School Selection</label>
              </div>
            </div>

            <div class="row" id="subject_code_div" style="display: none">
              <div class="input-field col s12">
                <input name="subject_code" class="validate" type="text" id="subject_code" placeholder="" required>
                <label class="active">Enter Subject code</label>
              </div>

            </div>

            <div class="row" id="course_div" style="display: none">
              <div class="input-field col s12">
                <input name="course" class="validate" type="text" id="course" placeholder="BTECH, BALLB etc." required>
                <label class="active">Programme</label>
              </div>
            </div>

            <div class="row" id="stream_div" style="display: none">
              <div class="input-field col s12">
                <select id="stream_select" name="stream_select">
                </select>
              </div>
            </div>

            <div class="row" id="stream_input_div" style="display: none">
              <div class="input-field col s12">
                <input name="stream_input" class="validate" type="text" id="stream_input" placeholder="CSE, IT etc." required>
                <label class="active">Stream</label>
              </div>
            </div>


            <div class="row" id="semester_div" style="display: none">
              <div class="input-field col s12">
                <input name="semester" class="validate" type="tel" id="semester" minlength="1" maxlength="1" placeholder="" required>
                <label class="active">Semester</label>
              </div>
            </div>

            <div class="row" id="subject_name_div" style="display: none">
              <div class="input-field col s12">
                <input name="subject_name" class="validate" type="text" id="subject_name" placeholder="" required>
                <label class="active">Subject name</label>
              </div>
            </div>

            <div class="row" id="type_div" style="display: none">
              <div class="input-field col s12">
                <select name="type" class="validate" id="type" required>
                  <option value="" disabled selected>Select Subject Type</option>
                  <option value="THEORY">THEORY</option>
                  <option value="PRACTICAL">PRACTICAL</option>
                </select>
                <label class="active">Type</label>
              </div>
            </div>

            <div class="row" id="group_div" style="display: none">
              <div class="col s4">
                <input  class="with-gap" name="group1" type="radio" id="test1" value="Group A" />
                <label for="test1">Group A</label>
              </div>
              <div class="col s4">
                <input class="with-gap" name="group1" type="radio" id="test2" value="Group B" />
                <label for="test2">Group B</label>
              </div>
              <div class="col s4">
                <input  class="with-gap" name="group1" type="radio" id="test3" value="Group C" />
                <label for="test3">Group C</label>
              </div>
            </div>
<!--             <div class="row" id="course_div" style="display: none">
              <div class="input-field col s12">
                <select id="course" name="course">
                  <option value="" disabled selected>Choose course</option>
                </select>
                <label>Course Selection</label>
              </div>
            </div>


            <div class="row" id="semester_div" style="display: none">
              <div class="input-field col s12">
                <select id="semester" name="semester">
                  <option value="" disabled selected>Choose semester</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                </select>
                <label>Semester Selection</label>
              </div>
            </div>

            <div class="row" id="subjects_div" style="display: none">
              <div class="input-field col s12">
                <select id="subjects" name="subjects">
                  <option value="" disabled selected>Choose subject</option>
                </select>
                <label>Subject Selection</label>
              </div>
            </div> -->
            <div class="row">
              <input name="" id="uploadstudents" type="file" required/>
              <a href="#modal_instruction" class="modal-trigger submitbtn-bottom" name="studentslist">
                    UPLOAD STUDENT LIST
              </a>
            </div>
            <div class="row">
             <div class="col-sm-6">
            <div class="preloader-wrapper small active" style="display: none">
              <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <button style="margin-bottom: 1em;" class="btn waves-effect waves-light right" type="submit" name="action">Submit
             <i class="material-icons right">send</i>
           </button>
         </div>
         </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-">

    </div>
  </div>
</div>
<script src="/javascripts/jszip.js"></script>
<script src="/javascripts/xlsx.min.js"></script>
<script src="/javascripts/xls.min.js"></script>
<script type="text/javascript">

  var json_object;
   $(document).ready(function() {
    $('select').material_select();
    $('#modal_instruction').modal();
    $('#modal_list').modal();
  });

  $('#school').change(function () {
    var school = $('#school').find(":selected").text().toLowerCase();

    console.log(json_object);

    var input = jQuery('<input name="student_list" value="student_list" style="display: none" id="student_list">');
    jQuery('form').append(input);
    $("#subject_code_div").css("display", "block");
    $('select').material_select();
  });

  $('#subject_code').keyup(function(){

      $('#course_div').css("display", "block");

  });

  $('#subject_code').change(function() {
    var subject_code = $('#subject_code').val().toUpperCase().trim();
    var final_subject_code = "";
    var checkdash = false;

    for (var x = 0; x<subject_code.length;) {
      while (x<subject_code.length && subject_code.charAt(x) == ' '|| subject_code.charAt(x) == '-') {
        x++;
      }

      if (x<subject_code.length && !checkdash && subject_code.charCodeAt(x)>= 48 && subject_code.charCodeAt(x)<=57) {
        final_subject_code = final_subject_code + "-";
        checkdash = true;
      }
      final_subject_code = final_subject_code + subject_code.charAt(x);
      x++;
    }

    $('#subject_code').val(final_subject_code);

    disableForm();

    $.ajax({
      url: '/api/check_subjects',
      type: 'GET',
      data: { subject_code: final_subject_code },
      success: function(result) {
        console.log(result);
        enableForm();
        $("#stream option").remove();
        $("#subject_code").removeClass('invalid');



         $('#stream_input_div').css("display", "none");
         if(!result.length)
         {
            $('#type').val('');
            $('#course').val('');
            $('#stream_select').html('');
            $('#stream_select').material_select();
            $('#stream_div').css('display','none');
            $('#stream_input_div').css('display', 'block');
            $('#semester').val('');
            $('#subject_name').val('');
         }
          for (var x = 0;x< result.length ;x++) {
            if (x == 0) {
              $('#type').val(result[x].type.toUpperCase());
              $('#course').val(result[x].course);
              $('#semester').val(result[x].semester);
              $('#type_div').css("display", "block");
              $('#subject_name_div').css("display", "block");
              $('#course_div').css("display", "block");
              $('#semester_div').css("display", "block");
              $("#stream_div").css("display", "block");
              $('#subject_name').val(result[x].subject_name.split("_")[0]);

              $(':radio[value="' + result[x].subject_name +  '"]').attr('checked', 'checked');


              if(result[x].type.toUpperCase() == "PRACTICAL") {
                $('#group_div').css("display", "block");
              }

            }

            $('#stream_select').html($("<option></option>").attr("value",result[x].stream).text(result[x].stream));
            $('select').material_select();
          }

              // $('#type_div').css("display", "block");
              // $('#subject_name_div').css("display", "block");
              $('#course_div').css("display", "block");
              // $('#semester_div').css("display", "block");
              // $("#stream_div").css("display", "block");



      }, error: function(result) {
         alert("there is some error.")
      }
    })

  })


  $('#course').change(function () {

    var course = $('#course').val().toUpperCase().trim();
    var final_course = "";

    for (var x = 0; x<course.length;) {
      while (x<course.length && course.charAt(x) == ' '|| course.charAt(x) == '.') {
        x++;
      }

      final_course = final_course + course.charAt(x);
      x++;
    }

    $('#course').val(final_course);

  });

  $('#course').keyup(function () {
  $('#stream_input_div').css('display', 'block');
    $('#semester_div').css("display", "block");
  });

  $('#semester').keyup(function () {
    $("#subject_name_div").css("display", "block");
  });

  $('#stream_input').change(function() {
    var stream = $('#stream_input').val();
    $('#stream_input').val(stream.toUpperCase());
  })

  $('#subject_name').change(function() {
    $('#type_div').css("display", "block");
  })

  $('#type').change(function() {
    var type = $('#type').val().toUpperCase();
    $('#type').val(type);

    if (type == "THEORY") {
      $('#group_div').css("display", "none");
    }

    if(type == "PRACTICAL") {
      $('#group_div').css("display", "block");

    }
  })

  $('.with-gap').change(function() {
    var value = $('')
    var subject_name = $('#subject_name').val().split("_")[0] + "_" + $(this).val();
    $('#subject_name').val(subject_name)

  })

var disableForm = function() {
  $(".login-box-form :input").prop("disabled", true);
  $(".preloader-wrapper").css({display : 'block'});
}

var enableForm = function() {
  $(".login-box-form :input").prop("disabled", false);
  $(".preloader-wrapper").css({display : 'none'});
}

$("#upload_link").on('click', function(e){
    e.preventDefault();
    $("#uploadstudents").val("");
    $("#uploadstudents:hidden").trigger('click');
});


var ExcelXToJSON = function(file, type) {
    var reader = new FileReader();
    reader.onload = function(e) {
      var data = e.target.result;
      var workbook = XLSX.read(data, {
        type: 'binary'
      });
      workbook.SheetNames.forEach(function(sheetName) {
        // Here is your object
        var XL_row_object = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
        json_object = JSON.stringify(XL_row_object);
        var roll_is = false;
        for( var i = 0; i < XL_row_object.length ; i++)
           {  for(key in XL_row_object[i]){
              if(key.match('roll'))
                {
                  roll_is = true;
                  break;
                }
              }
              if(!roll_is)
              {
                  alert('Invalid format. Please try again.');
                  return;
              }
            }

        var input = jQuery('<input name="student_list" value="student_list" style="display: none" id="student_list">');
        jQuery('form').append(input);
        $('#student_list').val(json_object);
        console.log(json_object);

        $.ajax({
          method:"get",
          url:"/api/student_mapping",
          data: { data: XL_row_object },
          success: function (result) {

            var studentList = '<table class="striped"><thead><th>Enrollment Number</th><th>Name</th></thead><tbody>';

            for(var i = 0; i < result.length; i++)
              studentList += '<tr><td>' + result[i]['enrollment_no'] +  '</td><td>'+ result[i]['name'] + '</td></tr>';
            studentList += '</tbody></table>'
            $('#modal_list > .modal-content').append(studentList);
            $('#modal_list').modal('open');

          },
          error: function (argument) {
            alert("something went wrong.")
          }
        })




      })
    };

    reader.onerror = function(ex) {
      alert(ex);
      enableForm();
    };

    reader.readAsBinaryString(file);
    enableForm();

};

var ExcelToJSON = function(file, type) {
    var reader = new FileReader();
    reader.onload = function(e) {
      var data = e.target.result;
      var workbook = XLS.read(data, {
        type: 'binary'
      });
      workbook.SheetNames.forEach(function(sheetName) {
        // Here is your object
        var XL_row_object = XLS.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
        json_object = JSON.stringify(XL_row_object);
        for( var i = 0; i < XL_row_object.length ; i++)
           {  for(key in XL_row_object[i]){
              if(key.match('roll'))
                {
                  roll_is = true;
                  break;
                }
              }
              if(!roll_is)
              {
                  alert('Invalid format. Please try again.');
                  return;
              }
           }


        var input = jQuery('<input name="student_list" value="student_list" style="display: none" id="student_list">');
        jQuery('form').append(input);
        $('#student_list').val(json_object);
        console.log(json_object);
        $('#modal_list > .modal-content').append(JSON.stringify(json_object));
        $('#modal_list').modal('open');
      })
    };

    reader.onerror = function(ex) {
      alert(ex);
      enableForm();
    };

    reader.readAsBinaryString(file);
    enableForm();

};

$('#uploadstudents').on('change', function(oEvent) {
  $('#modal_instruction').modal('close');
  enableForm();
  console.log('File being verified');
  disableForm();
  var oFile = oEvent.target.files[0];
  var sFilename = oFile.name.toLowerCase();
  console.log(sFilename);
  var filetype = '';
  var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.xlsx|.xls)$/;
  if(regex.test(sFilename)) {
         filetype = 'xls';
         /*Flag for checking whether excel is .xls format or .xlsx format*/
         if (sFilename.indexOf(".xlsx") > 0) {
             filetype = 'xlsx';
         }

    if(filetype == 'xlsx')
      ExcelXToJSON(oFile, filetype);
    else
      ExcelToJSON(oFile, filetype);
  }
  else {
    alert('Invalid file');
    enableForm();
  }
});


$('#acceptStudents').click(function() {
  $('.submitbtn-bottom').css('background-color','green');
  $('.submitbtn-bottom').append('<i class="material-icons tiny">check_circle</i>');
})
</script>
<style type="text/css">
.submitbtn-bottom:hover {
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}

.submitbtn-bottom {
  display: inline-block;
  padding: 8px 12px 8px 12px;
  text-align: center;
  width: 100%;
  background-color: crimson;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  transition: .2s ease-out;
    transition-property: initial;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

#upload{
    display:none
}

</style>

<% include partials/footer %>
