<!DOCTYPE html>
<% include partials/header %>
<div class="container drop-down-school">
  <div class="row login-sel-cont">
    <div class="col-sm-offset-4 col-sm-4">
      <div class="card">
      <!-- <div class="row"> -->
        <div class="col-lg-12">
        </div>
       <!-- Card Content -->
        <div class="container-fluid custom-container">
          <div class="row custom-full-row">

            <div class="verticalLine">
              <div class="login-card-title">
                Add Subject
              </div>
            </div>
          </div>
        </div>

        <form class="login-box-form" action="/api/add_subject_to_teacher" method="post">
          <div class="container-fluid">
            <div class="row">
              <div class="input-field col s12">
                <select id="school" name="school">
                  <option value="" disabled selected>Choose School</option>
                  <option value="usict">USICT</option>
                </select>
                <label>School Selection</label>
              </div>
            </div>

            <div class="row" id="course_div" style="display: none">
              <div class="input-field col s12">
                <select id="course" name="course">
                  <option value="" disabled selected>Choose course</option>
                </select>
                <label>Course Selection</label>
              </div>
            </div>

            <div class="row" id="stream_div" style="display: none">
              <div class="input-field col s12">
                <select id="stream" name="stream">
                  <option value="" disabled selected>Choose stream</option>
                </select>
                <label>Stream Selection</label>
              </div>
            </div>

            <div class="row" id="semester_div" style="display: none">
              <div class="input-field col s12">
                <select id="semester" name="semester">
                  <option value="" disabled selected>Choose semester</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                </select>
                <label>Semester Selection</label>
              </div>
            </div>

            <div class="row" id="subjects_div" style="display: none">
              <div class="input-field col s12">
                <select id="subjects" name="subjects">
                  <option value="" disabled selected>Choose subject</option>
                </select>
                <label>Subject Selection</label>
              </div>
            </div>
            <div class="row">
              <input id="uploadstudents" type="file"/>
              <a href="" class="submit submitbtn-bottom" id="upload_link" type="file" name="studentslist">
                    UPLOAD STUDENT LIST
              </a>
            </div>
            <div class="row">
             <div class="col-sm-6"> 
            <div class="preloader-wrapper small active" style="display: none">
              <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <button style="margin-bottom: 1em;" class="btn waves-effect waves-light right" type="submit" name="action">Submit
             <i class="material-icons right">send</i>
           </button>
         </div>
         </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-">

    </div>
  </div>
</div>
<script src="/javascripts/jszip.js"></script>
<script src="/javascripts/xlsx.min.js"></script>
<script type="text/javascript">
   $(document).ready(function() {
    $('select').material_select();
  });

  $('#school').change(function () {
    var school = $('#school').find(":selected").text().toLowerCase();

    $.ajax({
      url: "/api/get_course",
      type: 'GET',
      data: { school: school },
      success: function(result) {

        $("#course_div").css("display", "block");
        $('select').material_select();

        $.each(result, function(key, value) {

            $('#course').append($("<option></option>").attr("value",value.course).text(value.course));
            $('select').material_select();

          });
      },
      error: function(result) {
        alert("there is some error .")
      }
   });
  });

  $('#course').change(function () {
    var school = $('#school').find(":selected").text().toLowerCase();
    var course = $('#course').find(":selected").text();

    $("#stream_div").css("display", "block");
    $("#semester_div").css("display", "block");


    $.ajax({
      url: "/api/get_stream",
      type: 'GET',
      data: { school: school, course: course },
      success: function(result) {

          $.each(result, function(key, value) {
            $('#stream').append($("<option></option>").attr("value",value.stream).text(value.stream));
            $('select').material_select();
          });
      },
      error: function(result) {
        alert("there is some error .")
      }
   });
  });

  $('#semester').change(function () {
    var school    = $('#school').find(":selected").text().toLowerCase();
    var course    = $('#course').find(":selected").text();
    var stream    = $('#stream').find(":selected").text();
    var semester  = $('#semester').find(":selected").text();

    $("#subjects_div").css("display", "block");

    $.ajax({
      url: "/api/get_subjects",
      type: 'GET',
      data: { school: school, course: course, stream: stream, semester: semester },
      success: function(result) {

          $.each(result, function(key, value) {
             $('#subjects').append($("<option></option>").attr("value",value.subject_name).text(value.subject_name));
             $('select').material_select();
          });
      },
      error: function(result) {
        alert("there is some error.")
      }
   });
  });

var disableForm = function() {
  $(".login-box-form :input").prop("disabled", true);
  $(".preloader-wrapper").css({display : 'block'});
}

var enableForm = function() {
  $(".login-box-form :input").prop("disabled", false);
  $(".preloader-wrapper").css({display : 'none'});
}

$(function(){
    $("#upload_link").on('click', function(e){
        e.preventDefault();
        $("#uploadstudents:hidden").trigger('click');
    });
});

var ExcelToJSON = function(file) {
    var reader = new FileReader();

    reader.onload = function(e) {
      var data = e.target.result;
      var workbook = XLSX.read(data, {
        type: 'binary'
      });
      workbook.SheetNames.forEach(function(sheetName) {
        // Here is your object
        var XL_row_object = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
        var json_object = JSON.stringify(XL_row_object);
        console.log(json_object);

      })

    };

    reader.onerror = function(ex) {
      console.log(ex);
    };

    reader.readAsBinaryString(file);

};


$('#uploadstudents').change(function(oEvent) {
  console.log('File being verified');
  var oFile = oEvent.target.files[0];
  var sFilename = oFile.name.toLowerCase();
  console.log(sFilename)

  var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.xlsx|.xls)$/; 
  if(regex.test(sFilename)) {   
         var xlsxflag = false; 
         /*Flag for checking whether excel is .xls format or .xlsx format*/  
         if (sFilename.indexOf(".xlsx") > 0) {  
             xlsxflag = true;  
         }
         
    ExcelToJSON(oFile);  
  } 
  else {
    console.log('Invalid file');
  }    
});



</script>
<style type="text/css">
.submitbtn-bottom:hover {
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}

.submitbtn-bottom {
  display: inline-block;
  padding: 8px 12px 8px 12px;
  text-align: center;
  width: 100%;
  background-color: crimson;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  transition: .2s ease-out;
    transition-property: initial;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

#upload{
    display:none
}

</style>

<% include partials/footer %>
