<!DOCTYPE html>

<% include partials/header %>
<div class="container">
  <h4>Present count:</h4>
<% for(var i=0; i<present.length ; ++i){ %>

<%=present[i]['student']%><span>:</span>
<%=present[i]['sum(duration_of_class)']%><br>

<% } %>
<h4>Absent Count:</h4>
<% for(var i=0; i<absent.length ; ++i){ %>

<%=absent[i]['student']%><span>:</span>
<%=absent[i]['sum(duration_of_class)']%><br>

<% } %>

</div>


<% include partials/footer %>