<!DOCTYPE html>

<% include partials/header %>
<div class="container" style="display: flex; justify-content: space-between;">
	<div>
		<h4>Hours of lecture student was present:</h4>
		<% for(var i=0; i<present.length ; ++i){ %>
		<div style="display: flex; border-style: solid;">
			<div><%=present[i]['student']%> : </div>
			<div><%=present[i]['sum(duration_of_class)']%></div>
		</div>
		<% } %>
	</div>
	<div>
		<h4>Hours of lecture student was absent:</h4>
		<% for(var i=0; i<absent.length ; ++i){ %>
		<div style="display: flex; border-style: solid;">
			<div><%=absent[i]['student']%> : </div>
			<div><%=absent[i]['sum(duration_of_class)']%></div>
		</div>
		<% } %>
	</div>
</div>


<% include partials/footer %>